/* Styles for the landing page */
h1 {
  background-color: purple;
  color: burlywood;
  text-align: center;
  padding: 10px;
  margin: 10px;
  text-decoration: underline;
}
h2 {
  color: darkblue;
  text-decoration: underline;
  text-align: center;
  margin-left: 20px;
}
p {
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 16px;
  margin: 20px;
}
section.features {
  background-color: lightgray;
  padding: 20px;
  margin: 15px;
  ul {
    list-style-type: square;
    margin-left: 40px;
  }
}
section.get-started {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px;
  h3 {
    text-decoration: underline;
    color: black;
  }
  button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
footer {
  text-align: center;
  color: tomato;
}
